Rules for Writing Questions:
Question should be on the first line (the question should not go on to the next line)
The correct answer should be on the second line (the answers will be randomized)
The next three lines should contain the other incorrect answers
Do not label the answers with a, b, c, d
No spaces between the lines